{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="/static/css/article.css">
<title>About</title>
<h1>About Us!</h1>
<p class="aboutpara"><strong> ANIMESH AND SHAGUN</strong> has opened a website to those people who has the passions of writing sharyari, story, article,
    poems, and also for those who do editing in photos or clicks good photos. It was started one year ago to start the
    small chain to share your experience, emotions and feelings, your thoughts, your talent.</p>  <br>

   <p class="aboutpara"> This talent is that which we all have left all these thing behind but we can continue it now we don’t need to carry
    all the stuff; you can doo these things and can operate it from any where you can just write and upload it.</p> <br>

 <p class="aboutpara">if you are a photographer then you can also put your photos on this website you an show your talent by this way too.
    If you are a painter or a sketch artist you can also post that picture on this.</p>



{% endblock content %}