{% extends 'base.html' %}
{% load static%}

{% block content %}

<link rel="stylesheet" href="/static/css/article.css">
<title>My Posts list</title>
<h1>MY POSTS</h1>
{% for post in mypost_list %}
<article class="media content-section ">
  <img class="article-img" id="pimg" src="{{ post.author.myprofile.profilepic.url}}">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="/articles/myprofile/{{post.author.myprofile.id}}">{{ post.author}}</a>
      <small class="text-muted">{{ post.cr_date|date:"F d, Y"  }}</small>
    </div>
    <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
    <section id="section">
      <pre class="article-content" id="pcontent">{{ post.content }}</pre>
      {% if post.images %}
      <img id="contentimage"src="{{post.images.url}}" alt="Post image">
      {% endif %}
    </section>
    <form id="likeform"action="{% url 'like-post'%}" method="POST">
      {% csrf_token %}
      <input type="hidden" name='post_id' value="{{post.id}}">

      {% if user not in post.likes.all %}
      <button id="like1"type='submit'></button>
      {% else %}
      <button id="unlike1"type='submit'></button>
      {% endif %}
      <strong>{{post.likes.all.count}} likes</strong>
    </form>
    <div class="sharethis-inline-share-buttons"></div> 
  </div>
</article>

{% endfor %}
{% if is_paginated %}

{% if page_obj.has_previous %}
<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
{% endif %}

{% for num in page_obj.paginator.page_range %}
{% if page_obj.number == num %}
<a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
<a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
{% endif %}
{% endfor %}
{% endif %}
{% if page_obj.has_next %}
<a class="btn btn-outline-info mb-4" href="?page={{page_obj.next_page_number}}">Next</a>
<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
{% endif %}
{% endblock content %}

</body>

</html>