{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}  
<link rel="stylesheet" href="/static/css/profile.css">
<link rel="stylesheet" href="/static/css/article.css">
<title>Update Profile</title>
    <div class="content-section new">
      <div class="media">
        <img class="account-img" src="{{ user.myprofile.profilepic.url}}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <form id="profileform" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset classs="form_group">
              <legend class="border_bottom mb-4">Profile Info</legend>
              {{form|crispy}}
              
          </fieldset>
          <div class="form_group">
              <button class="btn btn-outline-info" type="submit">Update</button>
          </div>
      </form>    
    </div>
{% endblock content %}


