{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="/static/css/article.css">
<title>Privacy Policy</title>
<h1>Privacy Policy</h1>
<br>
<p class="aboutpara">ArtHub cares about your privacy. ArtHub’s Privacy Policy describes our information (including message) practices, including the types of information we receive and collect from you and how we use and share this information. You agree to our data practices, including the collection, use, processing, and sharing of your information as described in our Privacy Policy, as well as the transfer and processing of your information to the india and other countries globally where we have or use facilities, service providers, or partners, regardless of where you use our Services. You acknowledge that the laws, regulations, and standards of the country in which your information is stored or processed may be </p> 

<br>
 <h1>   Website Privacy Policy</h1><br>

<p class="aboutpara">  Respect for your privacy is coded into our DNA. Since we started website, we’ve aspired to build our Services with a set of strong privacy principles in mind.</p>

<p class="aboutpara"> website provides messaging, Internet calling, and other services to users around the world. Our Privacy Policy helps explain our information (including message) practices. For example, we talk about what information we collect and how this affects you. We also explain the steps we take to protect your privacy – like building website so delivered messages aren’t stored and giving you control over who you communicate with on our Services.</p>

<p class="aboutpara"> When we say “website,” “our,” “we,” or “us,” we’re talking about website Inc. This Privacy Policy (“Privacy Policy”) applies to all of our apps, services, features, software, and website (together, “Services”) unless specified otherwise.</p>

<p class="aboutpara"> Please also read website’s Terms of Service (“Terms”), which describes the terms under which you use our Services.</p>
<br>
<h1> Information We Collect</h1> <br>



<p class="aboutpara"> ArtHub receives or collects information when we operate and provide our Services, including when you install, access, or use our Services.</p>

<p class="aboutpara"> Different from those of your own country.</p>  <br>

{% endblock content %}