{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static%}
{% block content %}
{%load static%}

<title>Login</title>
<div class="content-section">
    <link rel="stylesheet" href="/static/css/post_form.css">
    <form id="loginform" method="POST">
        {% csrf_token %}
        <fieldset class="form_group">
            <legend class="border_bottom mb-4">Log In</legend>
            {{form|crispy}}
        </fieldset>
        <div class="form_group">
            <button class="btn btn-outline-info" type="submit">Login</button>
            <small class="text-muted ml-2">
                <a href="/accounts/password/reset">Forget Password?</a>
            </small>
        </div>
    </form>
    
    <div class="border_top pt-3">
        <small class="text_muted">
            Need An Account? <a class="ml-2" href="/accounts/register">Sign Up Now</a>
        </small>
    </div>

</div>
{% endblock content %}